﻿@using Clinic.Web.ViewModels.Administration.Dashboard.Hospital;

@model ICollection<HospitalViewModel>

<main class="mt-3">
    @if (Model.Count == 0)
    {
        <h1 class="text-center suls-text-color">There are no hospitals at the moment!</h1>
    }
    else
    {
        <h1 class="text-center suls-text-color">Current Hospitals</h1>
        @foreach (HospitalViewModel hospital in Model)
        {
            <div>
                <p>Hospital Name - @hospital.Name</p>
                @if (hospital.Clinics.Count > 0)
                {
                    <div class="submit-button ">
                        <a href="/Administration/Dashboard/ClinicList?hospitalId=@hospital.HospitalId">
                            <button class="btn btn-common" id="submit" type="submit">View Clinics</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </a>
                    </div>

                    <div class="submit-button ">
                        <a href="/Administration/Dashboard/AddClinic?hospitalId=@hospital.HospitalId">
                            <button class="btn btn-common" id="submit" type="submit">Add a clinic to the hospital!</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="submit-button ">
                        <a href="/Administration/Dashboard/AddClinic?hospitalId=@hospital.HospitalId">
                            <button class="btn btn-common" id="submit" type="submit">Add the first Clinic!</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                }


                <div class="submit-button ">
                    <a href="/Administration/Dashboard/RemoveHospital?hospitalId=@hospital.HospitalId">
                        <button class="btn btn-common" id="submit" type="submit">Remove Hospital</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </a>
                </div>

                <div class="submit-button ">
                    <a href="/Administration/Dashboard/EditHospital?hospitalId=@hospital.HospitalId">
                        <button class="btn btn-common" id="submit" type="submit">Edit Hospital</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        }
    }
    
</main>