﻿@using Clinic.Web.ViewModels.Doctor.Dashboard;

@model PatientInputModel

@foreach (var modelState in ViewData.ModelState.Values)
{
    foreach (var error in modelState.Errors)
    {
        <p class="error-message">@error.ErrorMessage</p>
    }
}

<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>Here you can add a patient!</h1>
        </div>

        <form class="mx-auto half-width col-5" method="post" asp-controller="Dashboard" asp-action="AddPatient">
            <div class="top-border-line primary-separator"></div>

            <div class="form-group">
                <label asp-for="Email" class="suls-text-color">User's e-mail</label>
                <input asp-for="Email" class="form-control" placeholder="Email...">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @if (ViewBag.clinicId != null)
            {
                <input asp-for="ClinicId" class="hide" hidden="hidden" value="@ViewBag.clinicId">
            }
            else
            {
                <input asp-for="ClinicId" class="hide" hidden="hidden" value="@Model.ClinicId">
            }

            <div class="top-border-line primary-separator"></div>

            <button type="submit" class="btn forum-add-bg-color">Add patient</button>
        </form>
    </div>
</div>