﻿@using Clinic.Web.ViewModels.Doctor.Dashboard.Diagnostics;

<main class="mt-3">
    <h1 class="text-center suls-text-color">Current patients in this clinic</h1>
    @foreach (DiagnosticViewModel diagnostic in Model)
    {
        <div>
            <p>@diagnostic.Name</p>
            <p>@diagnostic.Description</p>
            <div class="submit-button ">
                <a href="/Doctor/Dashboard/RemoveDiagnostic?diagnosticId=@diagnostic.DiagnosticId">
                    <button class="btn btn-common" id="submit" type="submit">Remove Diagnostic</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="submit-button ">
                <a href="/Doctor/Dashboard/EditDiagnostic?diagnosticId=@diagnostic.DiagnosticId">
                    <button class="btn btn-common" id="submit" type="submit">Edit Diagnostic</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    }
</main>