﻿@using Clinic.Web.ViewModels.Doctor.Dashboard;

@model IndexViewModel

﻿<div class="row">
    <div class="jumbotron col-md-12">
        @if (Model.ClinicId != null)
        {
            <div class="heading-container bottom-buffer-md">
                <h1>This is the Doctor panel for @Model.ClinicName!</h1>
            </div>

            <h2> Add a new patient -</h2>
            <div class="submit-button ">
                <a href="/Doctor/Dashboard/AddPatient?clinicId=@Model.ClinicId">
                    <button class="btn btn-common" id="submit" type="submit">Add Patient</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>


            <div class="submit-button ">
                <a href="/Doctor/Dashboard/List?clinicId=@Model.ClinicId">
                    <button class="btn btn-common" id="submit" type="submit">Patients List</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>

            <h2> Add a new diagnostic to @Model.ClinicName -</h2>
            <div class="submit-button ">
                <a href="/Doctor/Dashboard/AddDiagnosticToClinic?clinicId=@Model.ClinicId">
                    <button class="btn btn-common" id="submit" type="submit">Add Diagnostic</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="submit-button ">
                <a href="/Doctor/Dashboard/DiagnosticsList?clinicId=@Model.ClinicId">
                    <button class="btn btn-common" id="submit" type="submit">Diagnostics List</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>
        }
        else
        {
            <div>
                <h1>You are currently not in a clinic. Ask an administrator to add you in one.</h1>
            </div>
        }

    </div>
</div>
