﻿@using Clinic.Web.ViewModels.Administration.Statistics;

<main class="mt-3">
    <h1 class="text-center suls-text-color">Current clinics</h1>
    @foreach (StatisticClinicViewModel clinic in Model)
    {
        <div>
            <h2>@clinic.HospitalName</h2>
            <p>@clinic.Name</p>
            <div class="submit-button ">
                <a href="/Administration/Statistics/GetDoctorsInClinic?clinicId=@clinic.ClinicId">
                    <button class="btn btn-common" id="submit" type="submit">See all doctors in this clinics</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="submit-button ">
                <a href="/Administration/Statistics/GetPatientsInClinic?clinicId=@clinic.ClinicId">
                    <button class="btn btn-common" id="submit" type="submit">See all patients in this clinic</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    }
</main>