﻿@using Clinic.Web.ViewModels.Administration.Statistics;

<main class="mt-3">
    <h1 class="text-center suls-text-color">Current diagnostics</h1>
    @foreach (StatisticDiagnosticViewModel diagnostic in Model)
    {
        <div>
            <h2>@diagnostic.Name</h2>
            <p>@diagnostic.Description</p>
            <p>Prescribed by @diagnostic.CreatorName</p>
            <div class="submit-button ">
                <a href="/Administration/Statistics/DiagnosticsFromDoctor?doctorId=@diagnostic.CreatorId">
                    <button class="btn btn-common" id="submit" type="submit">See all diagnostics from @diagnostic.CreatorName</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    }

    <div class="submit-button ">
        <a href="/Administration/Statistics/DiagnosticsPatientList">
            <button class="btn btn-common" id="submit" type="submit">See diagnostics for specific patient</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
        </a>
    </div>
</main>